.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

### Visual Studio Code ###
*.code-workspace

.DS_store
